// Colors

$main-green:#475F45;
$dark-green:rgba(65, 72, 64, 1);
$bg:#E4E4E4;

// Text Colors

$main-text-color:rgba(52, 61, 51, 1);
$secondary-text-color:rgba(65, 72, 64, 1);

$white:#fff;

// Fonts sizes
$default-font-size:1.6rem;

// Fonts
$header-font: 'Libre Baskerville', serif;
$secondary-font:'Roboto', sans-serif;