@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

$primery-color:#996B60;
$regular-font: 'Roboto', sans-serif;
$header-font: 'PT Serif', serif;
$header-font-size:4rem;
$regular-font-size:1.1rem;
$head-text-color:#FFFFFF;
$border-color:#BDBDBD;
