.header {
    background: $bg;
    padding: 1.6rem;
        &__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
                &__links {
                        &>ul {
                            display:flex;
                            align-items: baseline;
                            &>li{
                                list-style: none;
                                text-transform: uppercase;
                                margin-left: 4rem;
                                font-size: 1.4rem;
                            }
                            @include xs {
                                display: none;
                            }
                            @include md {
                                display: none;
                            }
                            @include lg {
                                display: flex;
                            }
                        }
                        
                }
                .toggle--button{
                    align-self: center;
                    width: 20px;
                    height: 2px;
                    display: none;
                    background: black;
                    position: relative;
                    top: 0;
                    transition: all .1s ease;
                        &::after,
                        &::before {
                            content: '';
                            position: absolute;
                            top: 8px;
                            height: 2px;
                            width: 100%;
                            background: #000;
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: -8px;
                        }
                        @include md {
                            display: block;
                            margin: 0;
                        }
                        @include xs {
                            display: block;
                        }
                        @include lg {
                            display: none;
                        }
                }
        }
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
            h1{
                font-family: $header-font;
                color: $main-text-color;
                text-transform: capitalize;
                font-size: 3em;
                line-height: 3rem;
                padding-top: 2.6rem;
            }
            p{
                font-family: $secondary-font;
                text-transform: capitalize;
                color:$secondary-text-color;
                font-size: 1.8em;
                padding-top: 1.6rem;
            }
            &__text--btns{
                padding-top: 2em;
                display: flex;
                justify-content: space-around;
            }
            &__image {
                padding: 5rem 0;
            }
            @include md {
                    h1{
                        font-size: 4.5em;
                        line-height: 4.5rem;
                        padding-top: 7rem;
                    }
                    p{
                        font-size: 2em;
                        padding: 1.6rem 14rem;
                    }
                    &__text--btns{
                        // padding: 2em 18em;
                        padding: 2em 18rem;
                        display: flex;
                        justify-content: space-between;
                    }
                    &__image {
                        padding: 5rem 0;
                    }
            }
            @include lg {
                text-align: left;
                flex-direction: row;
                h1{
                    font-size: 5em;
                    line-height: 5rem;
                    padding-top: 2.6rem;
                }
                p{
                    font-size: 2.5rem;
                    padding: 1.6rem 0;
                    width: 50rem;
                }
                &__text--btns{
                    padding: 2em 0;
                    display: flex;
                    justify-content: flex-start;
                        .primary {
                            margin-right: 2rem ;
                        }

                }
                &__image {
                    padding: 5rem 2rem;
                    margin-left: 10rem;
                }
            }
    }
    @include lg {
        padding: 2rem 5rem;
    }
}
