@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sen:wght@800&display=swap');
// Fonts

$main-font-family:'Sen', sans-serif;
$regular-font-family:'Roboto', sans-serif;
$main-font-size:200px;
$regular-font-size:16px;

// Colors

$primery-bg-color: #0AA1DD;
$text-color:#E8F9FD;